@import "../styles/variables.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-turquoise-50);
    font-family: var(--font-secondary);
}

::selection {
    background-color: var(--color-turquoise-400);
    color: var(--color-white);
}

p {
    color: var(--color-primary);
}

a {
    text-decoration: none;
}

/* Navbar */
.navbar {
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--color-turquoise-50);
    box-shadow:
        0 .093px .669px #00000003,
        0 .407px 1.385px #00000005,
        0 1px 2.763px #00000008,
        0 1.926px 5.415px #00000008,
        0 3.241px 9.956px #0000000a,
        0 5px 17px #0000000d;

    nav {
        ul {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }
}

/* Botones */
.btn {
    cursor: pointer;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: var(--color-turquoise-500);
    color: var(--color-turquoise-50);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--color-turquoise-600);
    }
}

.btn-secondary {
    background-color: var(--color-turquoise-100);
    color: var(--color-turquoise-700);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--color-turquoise-200);
    }
}

.btn-link {
    background-color: transparent;
    color: var(--color-turquoise-500);

    &:hover,
    &:focus,
    &:active {
        color: var(--color-turquoise-700);
    }
}

/* Tipografías y textos */
h1 {
    font-family: var(--font-primary) !important;
    color: var(--color-primary);
}
/* formatear textos, headings */

/* Página inicio */
.contenedor-principal {
    background-color: var(--color-turquoise-200);
    height: 100vh;
    /* evaluar si dejamos sombra */
    /* box-shadow: 0 4px 6px 0 rgba(215, 233, 215, 0.9),
        0 12px 20px 0 rgba(215, 233, 215, 0.6),
        0 24px 38px 0 rgba(215, 233, 215, 0.3); */
}

.imagen-pricipal {
    width: 600px;
    height: 600px;
    background: url("https://images.pexels.com/photos/19807191/pexels-photo-19807191.jpeg") left / cover;
    mask-image: radial-gradient(circle 390px at 50% 50%, black 75%, transparent 76%);

    /* &:hover {
        mask-image: none;
    } */
}

/* Footer */
.footer {
    background-color: var(--color-turquoise-200);
    padding: 40px;
}

.footer-contenido {
    display: flex;
    justify-content: space-around;
    
}

.footer h2, .footer h3 {
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.footer p {
    color: var(--color-primary);
    margin-bottom: 10px;
}

.footer-contacto, .footer-enlaces {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid var(--color-turquoise-400);
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
}