@import "../styles/variables.css";

/* HERO */
.contenedor-hero {
    background-color: var(--color-turquoise-200);
    height: 30rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: 80px;
    padding-inline: 8%;
}

.texto-hero {
    width: 60%;
    position: relative;
    z-index: 1;

    h1 {
        margin-left: 0.30em;
    }

    .btn-hero {
        margin-left: 0.5em;
    }
}

.imagen-hero {
    width: min(60vw, 38rem);
    aspect-ratio: 1 / 1;
    background: url("../assets/imgs/image-hero.avif") center / cover;
    -webkit-mask-image: radial-gradient(circle, #000 69.5%, transparent 70%);
    mask-image: radial-gradient(circle, #000 69.5%, transparent 70%);
    position: absolute;
    top: -27%;
    right: -5%;
}

/* SUCURSALES */
.sucursales {
    margin-top: 4rem; /* ajuste del margin, avisar a ingrid */
    margin-bottom: 5rem; /* ajuste del margin, avisar a ingrid */
}

.textos-sucursales {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 0;
    }
}

.lista-sucursales {
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.card-sucursal {
    background-color: var(--color-gray-100);
    box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05), 0 2.4px 2.275px 0 rgba(0, 0, 0, 0.03);
    border-radius: 1.5rem;
}

.imagen-sucursal {
    position: relative;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 0 0;
        display: block;
    }

    .badge {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 10;
    }
}

.card-info {
    padding: 0.5rem 0.75rem 1.25rem 0.75rem;

    .btn {
        margin-top: 0.5rem;
    }
}

/* Responsive - Mobile */
@media (max-width: 768px) {
    .contenedor-hero {
        flex-direction: column;
        justify-content: flex-start;
        height: 32.2rem;
        padding: 3.75rem 1.5rem 0;
    }

    .texto-hero {
        width: 100%;
        max-width: 34rem;
        text-align: center;
        margin-bottom: 2.75rem;
        flex: 0 0 auto;
    }

    .imagen-hero {
        position: relative;
        top: auto;
        right: auto;
        width: calc(100% + 3rem);
        max-width: none;
        flex: 0 0 auto;
    }
}

/* SERVICIOS */
.servicios {
    padding: 4rem 3rem;
    background-color: var(--color-turquoise-50);
}

.textos-servicios {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 2.5rem;
}

.lista-servicios {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1.5rem;
}

.card-servicio {
    background-color: var(--color-gray-100);
    border-radius: 1.5rem;
    padding: 2rem;
    min-height: 220px;
    box-shadow:
        0 12px 14px 0 rgba(0, 0, 0, 0.05),
        0 24px 2.25px 0 rgba(0, 0, 0, 0.03);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    h3 {
        color: var(--color-primary);
        margin: 1rem 0 0.5rem;
    }

    &:hover {
        transform: translateY(-4px);
        box-shadow:
            0 16px 20px 0 rgba(0, 0, 0, 0.08),
            0 4px 5px 0 rgba(0, 0, 0, 0.04);
    }
}

.icono-servicio {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-turquoise-100);
}

.card-destacada {
    grid-column: span 2;
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    background-color: var(--color-turquoise-500);

    h3,
    p {
        color: var(--color-turquoise-50);
    }

    .icono-servicio {
        background-color: var(--color-turquoise-50);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .servicios {
        padding: 3rem 1.5rem;
    }

    .lista-servicios {
        grid-template-columns: 1fr;
    }

    .card-destacada {
        grid-column: span 1;
    }
}

/* ESPECIALIDADES */
.especialidades {
    padding: 5rem 3rem;
    background-color: var(--color-turquoise-200);
}

.textos-especialidades {
    max-width: 700px;
    margin: 0 auto 2.5rem;
    text-align: center;

    h2 {
        margin-bottom: 0.75rem;
    }
}

.lista-especialidades {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card-especialidad {
    background-color: var(--color-gray-100);
    border-radius: 1.5rem;
    padding: 2rem;
    min-height: 220px;
    box-shadow:
        0 12px 14px 0 rgba(0, 0, 0, 0.05),
        0 2.4px 2.275px 0 rgba(0, 0, 0, 0.03);

    transition: transform 0.2s ease, box-shadow 0.2s ease;

    h3 {
        color: var(--color-primary);
        margin: 1rem 0 0.5rem;
    }

    &:hover {
        transform: translateY(-4px);

        box-shadow:
            0 16px 20px 0 rgba(0, 0, 0, 0.08),
            0 4px 5px 0 rgba(0, 0, 0, 0.04);
    }
}

.icono-especialidad {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--color-turquoise-100);
}

.card-especialidad-destacada {
    grid-column: span 2;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: var(--color-turquoise-500);

    h3,
    p {
        color: var(--color-turquoise-50);
    }

    .icono-especialidad {
        background-color: var(--color-turquoise-50);
    }
}

.btn-especialidades {
    display: block;
    width: fit-content;
    margin: 2.5rem auto 0;
}


/* RESPONSIVE */
@media (max-width: 768px) {
    .especialidades {
        padding: 3rem 1.5rem;
    }

    .lista-especialidades {
        grid-template-columns: 1fr;
    }

    .card-especialidad-destacada {
        grid-column: span 1;
    }
}